<html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lobby</title>
        <link rel="stylesheet" href="../style/style.css">
        <link href="../style/center.css" rel="stylesheet"/>
        <link rel="stylesheet" href="../style/lobby.css">
    </head>
    <body>
        <div class="squire-bg">&nbsp</div>
        <div class="index-container">
            <div class="side_box">
                <button class="logout-button">!</button>
                <!--Here's will display the account name-->
            </div>
            <div class="actual_box">
                <div class="action_box">
                    s
                </div>
            </div>
        </div>
        
    </body>
</html>